body{
    background-color: #e9c46a;
    margin:0%;
    padding:0%;
}

.outer{
    width:80vh;
    height:75vh;
    margin: 80px 30% 0px 30%;
    border-radius: 1vh;
    background: #5f9ea0;
    box-shadow:  5px 5px 9px #467576,
             -5px -5px 9px #78c7ca; 
}
.button_box{
    margin-left: 1vh;
}

.value_box{
    width:75vh;
    height:52vh;
    margin-left: 2.5vh;
    margin-top: 5vh;
    border-radius: 1vh;
    background: #5f9ea0;
    box-shadow: inset 5px 5px 9px #467576,
            inset -5px -5px 9px #78c7ca;
}

#temp{
    margin-left: 3vh;
}
button{
    margin-top:4vh;
    margin-right: 2.5vh;
    font-size: 150%;
    padding: 4%;
    border:none;
    background-color: cadetblue;
    border-radius: 5%;
    background: linear-gradient(145deg, #66a9ab, #568e90);
    box-shadow:  5px 5px 10px #4d8082,
             -5px -5px 10px #71bcbe;
}
button:hover,button:focus{
    outline: none;
    border:none;
    border-radius: 5%;
    background: linear-gradient(145deg, #66a9ab, #568e90);
    box-shadow: inset 5px 5px 10px #4d8082,
             inset -5px -5px 10px #71bcbe;
}

img{
    height:16vh;
    width:20vh;
    margin-left: 26vh;
    margin-top: 10vh;
}
.value_box h4{
    font-size: 8vh;
    font-weight: normal;
    margin-top: 6vh;
    margin-right: 5vh;
}

#logout{
    padding: 5px 15px 5px 15px;
    font-size: 20px;
    position: absolute;
    right: 0px;
    top: 0;
}