@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
* 
{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
    background-color:#e0e0e0;
    padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
}
.outer{
    border:none;
    outline: none;
    width:17%;
    border-radius: 13px;
    background: #e0e0e0;
    box-shadow:  5px 5px 8px #c5c5c5,
             -5px -5px 8px #fbfbfb;
}

#chick{
    margin-top: 10%;
    height:50%;
    width:50%;
}

#chick:hover {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
  }
  
  @keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

h1{
    margin-top: 2%;
    margin-bottom: 20%;
    font-size: 200%;
    font-family: 'Stick',sans-serif;
    letter-spacing: 2px;
}
.common{
    width:80%;
    padding: 3%;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #e0e0e0;
    box-shadow:  5px 5px 8px #c5c5c5,
             -5px -5px 8px #fbfbfb;
}

.common:hover,.common:focus{
    border-radius: 8px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #c5c5c5,
            inset -5px -5px 10px #fbfbfb;
}

.common::placeholder{
    text-align:justify;
}
#password{
    margin-top: 8%;
}
button{
    border: none;
    outline: none;
    letter-spacing: 2px;
    margin-top: 10%;
    font-size:100%;
    font-weight: bold;
    font-family: 'Stick';
    padding:3% 8%;
    border-radius: 8px;
    background: #e0e0e0;
    box-shadow:  5px 5px 8px #c5c5c5,
             -5px -5px 8px #fbfbfb;
    cursor: pointer;
}

button:hover{

background: #e9c46a;
box-shadow: inset 8px 8px 16px #ddba65,
            inset -8px -8px 16px #f5ce6f;
}
.signup{
    font-size: 45%;
    margin: 10% 0%;
}
.signup a{
    color:navy;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
}
.instruction1
{
    font-size: 12px;
    margin-top: 25px;
    color: maroon;
    font-style: italic;
}
